.genres-container {
  margin: 20px;
}

.genres-container h2 {
  font-size: 24px;
  font-weight: bold;
}

.genres-container ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.genres-container li {
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  background-color: #ccc;
  margin: 5px 0;
  transition: background-color 0.3s ease;
}

.genres-container li:hover {
  background-color: #555;
  color: #fff;
}
