.movie-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.movie-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.movie-image {
  max-width: 400px;
  margin-bottom: 20px;
}

.movie-overview {
  font-size: 18px;
  margin-bottom: 20px;
}

.movie-rating {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.back-button {
  background-color: #222;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
}

.back-button:hover {
  background-color: #444;
}
