.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.movie-card {
  text-decoration: none;
  width: 250px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.movie-card img {
  width: 100%;
  height: auto;
}

.movie-details {
  
  padding: 10px;
}

.movie-details h2 {
  font-size: 18px;
  margin: 0;
}

.movie-details p {
  font-size: 14px;
  margin: 5px 0;
}
