nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding: 1rem;
}
.logo_img{
  width: 100px;
  height: auto;
}
.logo a {
  font-size: 2rem;
  font-weight: bold;
  background-color: white;
  color: darkgray;
  text-decoration: none;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid whitesmoke;
  border-radius: 0.5rem;
  overflow: hidden;
}

.search-bar input[type="text"] {
  flex: 1;
  border: none;
  padding: 0.5rem;
  background-color: whitesmoke;
  font-size: 1rem;
}
.search-bar input:focus{
  outline: none;
}


.user-actions a {
  background-color: white;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  border-radius: 50%;
  margin-right: 0.5rem;
}

.user-info span {
  font-size: 30px;
  font-weight:600;
  font-size: 1rem;
  text-align: center;
  background-color: white;
}
