form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  input {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    margin: 5px 0;
    max-width: 400px;
    font-size: 16px;
  }
  
  button {
    background-color:gray;
    color:white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: red;
  }
  
