.search-bar button[type="submit"] {
  padding: 0.5rem 1rem;
  background-color:lightgray;
  color: black;
  border: none;
  font-size: 1rem;
}

.user-actions {
  background-color: white;
  display: flex;
  align-items: center;
}
