.container{
    background-color: whitesmoke;
    margin: 0;
    min-width:100 ;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  
}
contents{
    background-color: white;
    flex-direction: column;
}
.seats{
    background-color: gray;
    border:1px solid black;
    width:40px!important;
    height:40px;
    margin-right:15px;
    margin-left:15px;
}